<p id="notice"><%= notice %></p>
<h1>Twitter物書き向けの支援ツール</h1>
<% @posts.each do |post| %>
<div>タイトル: <%= post.title %>
<div>著者: <%= post.author %></div>
<div>
<%= link_to '見る', post_path(post) %> | 
<%= link_to '編集', edit_post_path(post) %>
</div>
<div><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<hr/>
<% end %>

<br>
<h3><%= link_to '新規投稿する', new_post_path %></h3>

