<p id="notice"><%= notice %></p>
<% if !@view %>
<div>
<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %><br/><br/>
</div>
<div>
<h2>
<%= link_to "Twitter投下処理", publish_path %>
</h2>
<p>↑クリックしたら処理に30秒ぐらいかかる</p>
</div>
<% end %>
<h1><%= @post.title %></h1>
<h4 style="text-align:right"><%= @post.author %></h4>
<%= @post.content %>

